
:root {
  --bs-body-font-family: 'Revalia'; /* Replace with your font */
}

body {
  background-color: #121212;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.card img:hover {
  filter: grayscale(0%);
}

.card-content {
  text-align: center;
}

